body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;
}

.contactos{
    width: 20em;


}

.principal{
    flex-grow: 1;
}

.usuario, .boton, .chats{
    border: 1px solid grey;
}

.usuario{
    display: flex;
    justify-content: space-between;
}

.perfil{
    display: flex;
    align-items: center;
}

.nombre{
    text-align: left;
    font-size: 100%;
    font-weight: 600;

}

.activo{
    font-weight: 100;
    text-align: left;
    color: #bec1bb;
    font-size: 12px;
}

.icon{
    padding: 25px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}


.imagen{
    border-radius: 100%;
    height: 50px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.boton{
    background-color: #A491d2;
    color: #fff;
    margin: 15%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

article{
    border: 1px solid grey;
}

.principal{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.principal img{
    height: 500px;
    padding-left: 150px;
}

.titulo{
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    justify-content: center;
}